%p
  %em ChocoEternal
  is a home format made for pujok's playgroup. It is currently a non-rotating format consisting of sets they played Limited of, a mix of canon and custom. New sets are decided by vote and added after three tourneys on the current setup so the schedule is a bit wonky. If you wish to know more, you can DM pujok if you have a mutual Discord server (Custom Magic, Custom Magic Labs, MSEM2).